<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Acesso negado')}"></head>
<body>
    <header th:replace="~{fragments/layout :: header}"></header>
    <main>
        <h1>Acesso negado</h1>
        <p>Seu perfil não tem permissão para acessar esta página.</p>
        <a th:href="@{/painel}">Voltar ao painel</a>
    </main>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
